<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width">
<link href='http://fonts.googleapis.com/css?family=Electrolize' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/syntax.css">
<link rel="stylesheet" href="css/master.css">
</head>
<body>
<div class="l-header">
  <h1 class="title"><a href="/">{{ site.name }}</a></h1>
</div>  

<div class="l-content">
  {{ content }}
</div>

<div class="l-footer">
  <p class="contact">
  <small>Author: <a href="http://github.com/hiloki">Hiroki Tani</a></small>
  </p>
</div>
</body>
</html>
